<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <!-- LOG IN -->
    <div class="center full-screen">
        <div id="settings" class="container settings half-height half-width">
            <h3>LOG IN</h3>
            <br>
            <form action="/login" method="post">
                <table>
                    <tr>
                        <td>
                            <input class="input" id="userName" name="userName" type="text" placeholder="Kullanıcı Adı">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="input" id="password" name="pasword" type="password" placeholder="Şifre">
                        </td>
                    </tr>
                </table>
                <br>
                <button class="button" type="submit" onclick="return confirm('Ayarlar degisecek. Emin misiniz?');">
                    <i class="fas fa-sign-in-alt"></i> GİRİŞ YAP</button>
            </form>
            <br>
            <a href="">Şifremi unuttum</a>
            <span>Üye değilseniz <a href="./signin.html">buraya</a> tıklayarak üye olabilirsiniz.</span>
        </div>
    </div>

</body>

<script>
    setInterval(function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var icon = document.getElementById("tempStatus");
            var tempMin = +document.getElementById("tempMin").value;
            var tempMax = +document.getElementById("tempMax").value;
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("temperature").innerHTML = this.responseText;
                var temp = parseFloat(this.responseText);
                if (temp > tempMax)
                    icon.innerHTML = '<i class="fas fa-caret-square-down"></i>';
                else if (temp < tempMin)
                    icon.innerHTML = '<i class="fas fa-caret-square-up"></i>';
                else
                    icon.innerHTML = '<i class="fas fa-minus-square"></i>';
            }
        };
        xhttp.open("GET", "/temperature", true);
        xhttp.send();
    }, 1000);

    setInterval(function () {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            var icon = document.getElementById("humStatus");
            var humMin = +document.getElementById("humMin").value;
            var humMax = +document.getElementById("humMax").value;
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("humidity").innerHTML = this.responseText;
                var hum = parseFloat(this.responseText);
                if (hum > humMax)
                    icon.innerHTML = '<i class="fas fa-caret-square-down"></i>';
                else if (hum < humMin)
                    icon.innerHTML = '<i class="fas fa-caret-square-up"></i>';
                else
                    icon.innerHTML = '<i class="fas fa-minus-square"></i>';
            }
        };
        xhttp.open("GET", "/humidity", true);
        xhttp.send();
    }, 1000);

    var tabToggle = function (event) {
        document.getElementById("dates").style.display = "none";
        document.getElementById("eggTypes").style.display = "none";
        document.getElementById("settings").style.display = "none";
        document.getElementById("calibration").style.display = "none";
        if (event.target.id === "settingsTab")
            document.getElementById("settings").style.display = "flex";
        if (event.target.id === "datesTab")
            document.getElementById("dates").style.display = "flex";
        if (event.target.id === "eggTypesTab")
            document.getElementById("eggTypes").style.display = "flex";
        if (event.target.id === "calibrationTab")
            document.getElementById("calibration").style.display = "flex";
    }

</script>

</html>