<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <!-- LOG IN -->
    <div class="center full-screen">
        <div id="settings" class="container settings half-height half-width">
            <h3>LOG IN</h3>
            <br>
            <form action="/login" method="post">
                <table>
                    <tr>
                        <td>
                            <input class="input" id="userName" name="userName" type="text" placeholder="Kullanıcı Adı">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="input" id="password" name="password" type="password" placeholder="Şifre">
                        </td>
                    </tr>
                </table>
                <br>
                <button class="button" type="submit" onclick="return confirm('Ayarlar degisecek. Emin misiniz?');">
                    <i class="fas fa-sign-in-alt"></i> GİRİŞ YAP</button>
            </form>
            <br>
            <a href="">Şifremi unuttum</a>
            <span>Üye değilseniz <a href="./signin-page">buraya</a> tıklayarak üye olabilirsiniz.</span>
        </div>
    </div>

</body>

</html>