<!DOCTYPE HTML>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
</head>

<body>

    <!-- SIGN IN -->
    <div class="center full-screen">
        <div id="settings" class="container settings half-height half-width">
            <h3>YENİ ÜYELİK</h3>
            <br>
            <form id="signinForm" action="/signin" method="post">
                <table>
                    <tr>
                        <td>
                            <input class="input" id="userName" name="userName" type="text" placeholder="Kullanıcı Adı" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="input" id="password" name="password" type="password" placeholder="Şifre" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="input" id="password2" name="password2" type="password" placeholder="Şifre (Tekrar)" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="input" id="email" name="email" type="email" placeholder="E-posta" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="input" id="name" name="name" type="text" placeholder="Ad" maxlength="50">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="input" id="surname" name="surname" type="text" placeholder="Soyad" maxlength="50">
                        </td>
                    </tr>
                    <label id="errorLabel" name="errorLabel" style="color:red;">{{error}}</label>

                </table>
                <br>
                <button class="button" type="submit">
                    <i class="fas fa-sign-in-alt"></i> KAYIT OL</button>
            </form>
            <br>
        </div>
    </div>

</body>
<script>
    window.addEventListener( "load", function () {
        function sendData() {
            const xhttp = new XMLHttpRequest();
            const formData = new FormData( form );

            xhttp.addEventListener( "load", function(event) {
                console.log(event.target);
                debugger;
                if (event.target.status === 201){
                    window.location.href = event.target.responseText;
                }
                else{
                    document.getElementById("errorLabel").innerHTML = event.target.responseText;
                }
            } );
            xhttp.open("POST", "/signin", true);
            xhttp.send(formData);
        }

        const form = document.getElementById( "signinForm" );

        form.addEventListener( "submit",
            function ( event ) {
                event.preventDefault();
                sendData();
            } );
    } );
</script>
</html>